# App
APP_PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tdd_db
DB_USER=tdd_user
DB_PASSWORD=tdd_password

# Auth JWT
JWT_SECRET=CAMBIA_ESTE_SECRETO_EN_PRODUCCION
JWT_EXPIRES_IN=7d
